<h2>スケジュール編集</h2>
 
    <%= form_with model: @user, local: true do |f| %>
      <% if @user.errors.any? %>
       <% @user.errors.full_messages.each do |message| %>
        <ul>
         <li><%= message %></li>
        </ul>
       <% end %>
      <% end %>

      <table>
        <tr>
          <th><%= f.label :title ,"タイトル" %></th>
          <td><%= f.text_field :title %></td>
        </tr>

        <tr>
          <th><%= f.label :start ,"開始日" %></th>
          <td><%= f.date_field :start %></td>
        </tr>

        <tr>
          <th><%= f.label :end ,"終了日" %></th>
          <td><%= f.date_field :end %></td>
        </tr>

        <tr>
          <th><%= f.label :alldays ,"終日" %></th>
          <td><%= f.check_box :alldays, :as => :boolean %>
          <br>終日の場合はチェックを入れます</td>
        </tr>

        <tr>
          <th><%= f.label :memo ,"スケジュールメモ" %></th>
          <td><%= f.text_area :memo %></td>
        </tr>
      </table>

      <div>
        <ul>
          <li><%= f.submit "スケジュールの編集を完了する" %></li>
          <li><%= link_to "スケジュール一覧に戻る", :users %></li>
        </ul>
      </div>
    <% end %>