<h2>スケジュール詳細</h2>
 
<table>
  <tr>
    <th>タイトル</th>
    <td><%= @user.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @user.start %></td>
  </tr>
  <tr>
    <th>投稿日時</th>
    <td><%= @user.end %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><% if @user.alldays == true %> 
                 ○
                <% else %>
                <% end %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @user.memo %></td>
  </tr>
</table>

<div>
   <ul>
    <li><%= link_to "スケジュール一覧に戻る", :users %></li>
      <li><%= link_to "スケジュールを編集する", [:edit, @user] %></li>
      <li><%= button_to "スケジュールを削除する", @user, method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
   </ul>
</div> 